{% extends 'ToDo/base.html' %}

{% block content %}
	<form action='/ToDo/createUser' method='post' class='post-form sign-up'>
	    {% csrf_token %}
		<fieldset>
		  <legend> Account Sign-Up </legend>
		    {% for field in form %}
			<div class="form-group">
				<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>    			
		      		<input type="text" class="form-control"
					name="{{ field.name }}"
					id="id_{{ field.name }}"
					value="{{ field.value }}" >         			
			</div>       			
		    {% endfor %}
		    <footer class="center text-center">
		    	<input type='submit' name='dis' value='Submit' class="btn btn-default"/>
		    </footer>
		</fieldset>
	</form>
{% endblock %}

